*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(#C1D0B5,#E5DDC5);
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}
.header{
      
      padding: 10px 10px 10px 20px;
      font-size: 20px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: flex;
      align-items: center;
      background: #ffffff;
      border-radius: 10px;
      color: black;
}
.type{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.type> .input input{
    padding: 10px;
    width: 400px;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.type> .input button{
    padding: 10px;
    width: 130px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
button:active{
    scale: .9;
    background-color: #789461;
}

.new-item {
    font-size: 24px; /* Make the font size bigger */
    text-align: center; /* Center align the text */
    font-weight: bold; /* Make the text bold */
  }
  .delete-button {
    background-color:  #789461;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  